*{
	margin: 0;
	padding: 0;
	
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh; 
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7400;
}